:root {
  --p-color-border-inverse: rgb(97 97 97);
  --p-color-border-hover: rgb(204 204 204);
  --p-color-icon-success: rgb(41 132 90);
  --p-color-bg-surface-success: rgb(205 254 225);
  --p-color-icon-brand: rgba(26, 26, 26, 1);
  --p-color-bg-fill-secondary: rgba(241, 241, 241, 1);
  --p-border-radius-100: 0.25rem;
  --p-border-radius-200: 0.5rem;
  --p-space-400: 1rem;
  --p-space-500: 1.25rem;
  --p-space-600: 1.5rem;
  --p-space-700: 1.75rem;
  --p-space-800: 2rem;
}

#barn2_discounts {
  .barn2-db-main-title {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    position: relative;

    span {
      font-size: 12px;
      text-align: center;
      background: white;
      padding: 0 15px;
      z-index: 1;
    }

    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #000;
      top: 10px;
      left: 0px;
    }
  }
  .barn2-discounts-list {
    display: flex;
    gap: 10px;

    .barn2-discount-bundle {
      border: 1px solid var(--p-color-border-inverse);
      border-radius: var(--p-border-radius-100);
      padding: var(--p-space-800) var(--p-space-400) var(--p-space-600);
      display: flex;
      gap: var(--p-space-500);
      flex-direction: column;
      text-align: center;
      position: relative;

      &:hover {
        cursor: pointer;
      }

      h4, p, span {
        margin: 0px;
        padding: 0px;
      }

      .barn2-input-circle {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: 1px solid var(--p-color-icon-brand);
        display: inline-block;
      }

      .barn2-dbs-text-block {
        margin-bottom: 15px;
      }

      .barn2-dbs-bundle-title,
      .barn2-dbs-price {
        font-size: 14px;
        line-height: 15px;
        font-weight: 550;
        margin-bottom: 5px;
      }
      .barn2-dbs-bundle-price,
      .barn2-dbs-regular-price,
      .barn2-dbs-text-block p {
        font-size: 10px;
        line-height: 13px;
      }

      .barn2-dbs-bottom {
        display: flex;
        flex-direction: column;
      }

      &.selected {
        background-color: var(--p-color-bg-fill-secondary);
        .barn2-input-circle {
          border-width: 2px;
        }
      }

      &.highlighted {

        .barn2-highlighted-text {
          position: absolute;
          background-color: var(--p-color-icon-brand);
          color: white;
          top: 0;
          border-radius: 0 0 10px 10px;
          padding: 0px 5px;
          font-size: 9px;
          width: 70px;
          right: calc(50% - 35px);
          line-height: 2;
        }
      }
    }

    &.barn2-dbs-layout-horizontal {
      flex-direction: column;

      .barn2-discount-bundle {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: var(--p-space-400) var(--p-space-500);

        .barn2-dbs-text-block {
          margin-bottom: 0px;
          display: flex;
          flex-direction: column;
          align-items: baseline;
        }

        .barn2-dbs-top {
          display: flex;
          align-items: flex-start;
          gap: 7px;

          .barn2-input-circle {
            margin-top: 3px;
          }
        }

        &.highlighted {
          .barn2-highlighted-text {
            right: 65px
          }
        }
      }
    }

    &.barn2-dbs-layout-vertical {
      display: grid;
      gap: 1rem;
      width: 100%;
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));

      &.discount-columns-1 {
        grid-template-columns: repeat(1, 1fr);
      }
      &.discount-columns-2 {
        grid-template-columns: repeat(2, 1fr);
      }
      &.discount-columns-3 {
        grid-template-columns: repeat(3, 1fr);
      }
      &.discount-columns-4 {
        grid-template-columns: repeat(4, 1fr);
      }
      &.discount-columns-5 {
        grid-template-columns: repeat(5, 1fr);
      }
      &.discount-columns-6 {
        grid-template-columns: repeat(6, 1fr);
      }
      &.discount-columns-7 {
        grid-template-columns: repeat(7, 1fr);
      }
      &.discount-columns-8 {
        grid-template-columns: repeat(8, 1fr);
      }
      &.discount-columns-9 {
        grid-template-columns: repeat(9, 1fr);
      }
    }
  }

  .barn2-add-to-cart {
    margin-top: 20px;
    box-shadow: 0 0 0 1px #121212;
    text-align: center;
    font-size: 16px;
    padding: 13px 30px;
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    border-radius: 1px;

    &:hover {
      cursor: pointer;
    }

    &.loading {
      opacity: 0.5;
    }
  }
}