.barn2-app-root {
 
}

// Subscription upgrade notice
.development-store-notice {
  background-color: rgb(254 252 232 / var(--tw-bg-opacity, 1));
  padding: .75rem;
  text-align: center;
  margin-bottom: 20px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

// App Home Page
.barn2-app-home {
  .discounts_table_row {
    vertical-align: middle;

    &:not(:last-child) {
      td {
        border-bottom: 1px solid var(--p-color-bg-surface-secondary-active);
      }
    }

    &:hover td {
        background-color: var(--p-color-bg-surface-hover);
    }

    td {
        padding: 10px 5px;
    }
  }

  .col-sort-icon {
    width: 3%;
    padding: 10px 0px 10px 5px !important;

    &:hover {
      cursor: move;
    }
  }

  .col-priority {
      width: 8%
  }

  .col-bundle-name {
    width: 16%;
    cursor: pointer;
    
    a {
      text-decoration: none;
      color: var(--p-color-text);
      font-weight: var(--p-font-weight-semibold);
    }
  }

  .col-bundle-type {
      width: 13%
  }

  .col-applied-to {
      width: 26%;
      word-wrap: break-word;
  }

  .col-status {
      width: 8%
  }

  .col-actions {
      width: 13%
  }
}

.barn2-discounts-page-wrapper {
  padding-bottom: 40px;

  .discount-layout {
    display: flex;
    gap: 20px;

    .discount-content {
      flex: 1;
      min-width: 0; // Prevent flex item from overflowing
    }
    .discount-sidebar {
      width: 400px;
      flex-shrink: 0; // Prevent sidebar from shrinking
      position: sticky;
      top: 0px;
      align-self: flex-start;
      height: fit-content;

      @media screen and (max-width: 890px) {
        width: 100%;
      }

      .pricing_card_bleed {
        background-color: var(--p-color-bg-surface-success);
        padding: 16px;
        border-radius: 8px 8px 0 0;
      }

      .pricing_card_inner {
        padding: 20px;
      }

      .sidebar-preview-block {
        position: relative;

        &.should-disable::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: #ffffffa6;
          top: 0;
          left: 0px;
          z-index: 999;
        }
      }
    }
  }
}

.barn2-discount-edit-page-wrapper {
  padding-bottom: 0px;
}

.discount-empty-state {
  .Polaris-EmptyState__ImageContainer {
    max-width: 170px;

    .Polaris-EmptyState__Image {
      opacity: 1;
    }
  }
}

// Analytics card
.analytics-card-boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media screen and (max-width: 580px) {
    gap: 30px;
  }

  .analytics-card-box-first {
    width: 45%;
    position: relative;

    @media screen and (max-width: 580px) {
      width: 100%;
    }

    .analytics-card-title {
      color: var(--p-color-text-secondary);
      padding-right: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: var(--p-color-border);
      @media screen and (max-width: 580px) {
        bottom: -14px;
        right: 0px;
        width: 100%;
        height: 1px;
      }
      @media screen and (min-width: 580px) {
        top: 0;
        right: 0px;
        width: 1px;
        height: 100%;
      }
    }
  }

  .analytics-card-box-last {
    width: 45%;

    @media screen and (max-width: 580px) {
      width: 100%;
    }
  }
}

// Discounts table wrapper
.discounts-table-wrapper {
  background-color: var(--p-color-bg-surface);
  padding: 0;
  border-radius: 0.8rem;
  box-shadow: var(--p-shadow-bevel-100);
  border: 1px solid var(--p-color-border);
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
    /* Ensure the border stays visible during scroll */
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    border: 1px solid var(--p-color-border);
    border-radius: 0.8rem;
  }
}
  
@media (max-width: 540px) {
  .discounts-table-wrapper {
    overflow: scroll;    

    .barn2-index-table {
      min-width: 800px !important;
    }
  }
}

// Index table
.barn2-index-table {
  border-collapse: collapse;
  width: 100%;
  th {
    padding: var(--p-space-300) var(--p-space-200) var(--p-space-300) !important;
    background: var(--p-color-bg-surface-secondary);
    padding: var(--pc-index-table-heading-padding-y) var(--pc-index-table-heading-padding-x);
    text-align: left;
    font-weight: var(--p-font-weight-bold);
    color: var(--p-color-text-secondary);
    font-size: var(--p-font-size-300);
    white-space: nowrap;
    border: 0;
  }
}

// Create Page
@media screen and (min-width: 30.625em) {
  .barn2-discounts-page-wrapper .Polaris-Page{
    max-width: 1080px;
  }
  .barn2-plans-page .Polaris-Page {
    max-width: 1200px;
  }
}

@media screen and (max-width: 55.625em) {
  .barn2-discounts-page-wrapper .Polaris-Page {
    .discount-layout {
     flex-direction: column;
    }
  }
}

.volumn_bundle_table_row {
  &:not(:last-child) {
    td {
      border-bottom: 1px solid var(--p-color-bg-surface-secondary-active);
    }
  }

  td {
    padding: 13px 5px;

    .Polaris-TextField .Polaris-TextField__Backdrop { 
      border: var(--p-border-width-025) solid var(--p-color-border);
    }

    .Polaris-Checkbox .Polaris-Checkbox__Backdrop {
      box-shadow: inset 0 0 0 var(--p-border-width-025) var(--p-color-border);
    }

    .Polaris-Checkbox__Input:checked + .Polaris-Checkbox__Backdrop, 
    .Polaris-Checkbox__Input.Polaris-Checkbox__Input--indeterminate + .Polaris-Checkbox__Backdrop {
      border-color: var(--p-color-border-emphasis);
      border-color: var(--p-color-bg-fill-brand);
      background-color: var(--p-color-bg-fill-brand-selected);
      box-shadow: inset 0 0 0 var(--p-space-800) var(--p-color-bg-fill-brand-selected);
    }
  }

  .text_select_combined_width {
    width: 120px;
  }

  .combined_text_select_field {
    display: grid;
    grid-template-columns: 50% 50%;

    .select-with-custom-arrow {
      appearance: none;
      background-repeat: no-repeat;
      background-position: right 9px center;
      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3E%3Cpath fill='%23637381' d='M0 2l4 4 4-4z'/%3E%3C/svg%3E");
    }

    input, select {
      padding: var(--p-space-150) var(--p-space-300);
      border-radius: var(--p-border-radius-200) 0px 0px var(--p-border-radius-200);
      border: var(--p-border-width-025) solid var(--p-color-border);
      color: var(--p-color-text);
      font-size: var(--p-font-size-325);
      line-height: var(--p-font-line-height-500);
      font-weight: var(--p-font-weight-regular);
    }
    input:focus {
      outline: var(--p-border-width-050) solid var(--p-color-border-focus);
      outline-offset: var(--p-space-025);
      z-index: 999;
    }
    select {
      border-radius: 0px var(--p-border-radius-200) var(--p-border-radius-200) 0px;
      border-left-width: 0px;
    }
  }
  .cell_quantity {
    width: 8%;
  }
  .cell_discount {
    width: 15%;
  }
  .cell_description {
    width: 30%;
  }
  .cell_label {
    width: 20%;
  }
  .cell_highlighted {
    width: 5%;

    .Polaris-Choice__Control {
      margin-right: 0px;
    }
  }
  .cell_action {
    width: 5%;

    span {
      cursor: pointer;
    }
  }
}

.barn2-index-table-no-sort-icon {
  thead th:first-child,
  .discounts_table_row .col-priority {
    padding-left: 20px !important;
  }
}

.checkbox-wrapper {
  label:hover {
    cursor: pointer;
  }
  input[type=radio] {
    display: none;
  }
}

// Bundle Preview
.bundle-preview {
  
  .bundle-header {
    margin-bottom: 12px;

    .main-title {
      display: flex;
      justify-content: center;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #000;
        top: 10px;
      }

      span {
        font-size: 14px;
        text-align: center;
        background: white;
        padding: 0 15px;
        z-index: 1;
      }
    }

    .main-description {
      font-size: 12px;
      text-align: center;
    }
  }
}

.barn2-bulk-table-container {
  border-radius: var(--barn2-bundles-corner-radius, 7px);
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  border: 1px solid var(--barn2-bundles-border-color, #000000);
  background-color: white;

  @media screen and (max-width: 890px)  {
    max-width: 100%;
  }
}

.barn2-bulk-table {
  width: 100%;
  border-collapse: collapse;
  
  thead {
    th {
      background-color: var(--barn2-bundles-table-color, #000000);
      color: var(--barn2-bundles-header-text-color, #ffffff);
      padding: 5px;
      text-align: center;
      font-size: 14.55px;
      font-weight: bold;
    }
  }

  tbody {
    td {
      padding: 8px 10px;
      text-align: center;
      font-size: 12px;
      border-bottom: 1px solid var(--barn2-bundles-border-color, #000000);
      background-color: var(--barn2-bundles-background-color, #ffffff);
      color: var(--barn2-bundles-text-color, #000000);
    }
  }

  tr:last-child td {
    border-bottom: none;
  }

  .discount-pill {
    background-color: var(--barn2-bundles-label-color, #EDEDED);
    color: var(--barn2-bundles-label-text-color, #000000);
    border-radius: 20px;
    padding: 1px 15px;
    display: inline-block;
  }
}

.bundles-list {
  .bundle-single {
    border: 1px solid var(--p-color-border-inverse);
    border-radius: var(--barn2-bundles-corner-radius, 7px);
    padding: var(--p-space-600) var(--p-space-400) var(--p-space-400);
    display: flex;
    gap: var(--p-space-600);
    flex-direction: column;
    text-align: center;
    position: relative;
    cursor: pointer;
    user-select: none;

    .bundle-title,
    .bundle-discounted-price {
      font-size: 14px;
      line-height: 15px;
      font-weight: var(--p-font-weight-medium);
      color: var(--barn2-bundles-bundle-text-color, #303030);
    }

    .bundle-description,
    .bundle-regular-price {
      font-size: 12px;
      line-height: 12px;
      color: var(--barn2-bundles-bundle-text-color, #303030);
    }

    .price-strike-through {
      text-decoration: line-through;
    }

    .bundle-subtitle {
      font-size: var(--p-font-size-200);
      line-height: 14px;
    }

    .input-field {
      margin-bottom: 10px;
      input {
        display: none;
      }

      .input-circle {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: 1px solid var(--p-color-border-hover);
        display: inline-block;
      }
    }


    &.selected {
      background-color: var(--barn2-bundles-highlighted-color, #f1f1f1);
      border-color: var(--barn2-bundles-highlighted-border-color, #616161);

      .input-field {
        .input-circle {
          border-color: var(--barn2-bundles-highlighted-border-color, #616161);
        background-color: #fff;;
          border-width: 2px;
        }
      }
    }

    &.highlighted {
      background-color: var(--barn2-bundles-highlighted-color, #f1f1f1);
      border-color: var(--barn2-bundles-highlighted-border-color, #616161);

      .bundle-title,
      .bundle-discounted-price,
      .bundle-description,
      .bundle-regular-price {
        color: var(--barn2-bundles-highlighted-text-color, #303030);
      }
    }

    .highlightedText {
      position: absolute;
      background-color: var(--barn2-bundles-bundle-badge-color, rgba(26, 26, 26, 1));
      color: var(--barn2-bundles-badge-text-color, #ffffff);
      top: 0;
      border-radius: 0 0 10px 10px;
      padding: 0px 5px;
      font-size: 9px;
      min-width: 70px;
      right: calc(50% - 35px);
      line-height: 2;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

  }

  &.layout-horizontal {
    .bundle-single {
      flex-direction: row;
      justify-content: space-between;
      padding: var(--p-space-300) var(--p-space-400);

      .input-field {
        margin-bottom: 0px;
        margin-right: 10px;
      }

      .highlightedText {
        right: 65px;
      }
    }
  }
}


// Style Components

// Toggle switcher
.toggle-switcher {
  input[type=checkbox] {
    height: 0 !important;
    width: 0 !important;
    visibility: hidden !important;
    position: absolute !important;
    left: -10000px !important;

    &:checked + label {
      background: var(--p-color-text-success-secondary);

      &:after {
        left: calc(100% - 3px);
        transform: translateX(-100%);
      }
    }

    &:active label:after {
      width: 130px;
    }
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 36px;
    height: 18px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      width: 15px;
      height: 14px;
      background: #fff;
      border-radius: 90px;
      transition: 0.3s;
    }
  }
}

.app-bundles-table { 
  &.app-pricing-tiers-table {
    .cell_quantity {
      width: 25%;
    }
    .combined_text_select_field {
      width: 190px;
    }
  }
  .Polaris-IndexTable__TableHeading{
    background-color: var(--p-color-bg);
    color: var(--p-color-text-secondary);
    font-weight: var(--p-font-weight-semibold);

    &:first-child {
      border-radius: 10px 0 0 0;
    }

    &:last-child {
      border-radius: 0 10px 0 0;
    }
  }
}

.barn2-plans-page {
  .pricing_blocks_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    .pricing_block_item {
      width: calc(25% - 15px);

      @media screen and (max-width: 768px) {
        width: calc(50% - 10px);
      }

      .pricing_amount {
        gap: 4px;
        display: flex;
        align-items: baseline;
        justify-content: center;
        padding: 10px 0 0;

        .pricing_value {
          font-size: 30px;
          font-weight: 700;
        }
        .pricing_duration {
          font-size: 12px;
        }
      }
    }
  }
  .pricing_card_bleed {
    background-color: var(--p-color-bg-surface-success);
    padding: 16px; 
    border-radius: 8px 8px 0 0
  }
  .pricing_card_inner {
    padding: 20px;
    min-height: 320px;
  }
  .pricing_features {
    list-style: none;
    padding: 0px;
    margin: 0px;

    li {
      padding-left: 30px;
      position: relative;

      &:not(:last-child) {
        margin-bottom: 10px;
      }

      .Polaris-Icon {
        position: absolute;
        left: 0px;
        top: 0px;
      }
    }
  }
  .reviews_card_inside {
    padding: 40px;

    @media screen and (min-width: 10.625em) {
      min-height: 276px;
    }

    .review_title {
      font-size: 16px;
      font-weight: 650;
    }

    .review_icons {
      width: 100px;
      display: flex;
      justify-content: flex-start;

      svg {
        fill: var(--p-color-bg-fill-warning);
      }
    }
  }
}

// Footer 
.barn2_credits {
  margin: 40px 0px;
  padding-bottom: 40px;

  .credits_note, 
  .footer_links {
    text-align: center;
  }

  .credits_note {
    svg {
      transform: translate(0px, 3px);
      margin: 0 0 0 2px;
    }
  }

  .footer_links {
    margin-top: 10px;
    a {
      color: var(--p-color-text-link);
      text-decoration: none;

      &:not(:last-child) {
        margin-right: 30px;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: -15px;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 15px;
          background-color: var(--p-color-text);
        }
      }
    }
  }
}

// Documentation page
.documentation-page-video {
  .iframe-wrapper {
    min-width: 100%;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);

    @media screen and (max-width: 540px) {
      height: 210px;
    }

    iframe {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}

.barn2-documentation-link {
  color: inherit;
}

.documentation-notice-text {
  a {
    cursor: pointer;
    text-decoration: underline;
    color: var(--p-color-text-link);
  }
}

// Activate widget modal
.activate-widget-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .activate-widget-modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 360px;
  }
}

// Barn2 page inner
.barn2-page-inner {
  @media screen and (max-width: 490px) {
    padding: 0px 15px;
  }
}