@media screen and (min-width: 1200px) {
    .pageWrapper {
        padding:  0px 15em 3em;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .pageWrapper {
        padding:  0 6em 3em;
    }
}

@media screen and (max-width: 999px) {
    .pageWrapper {
        padding: 0 0 3em;
    }
}
.checkboxWrapper label:hover {
    cursor: pointer;
}
.checkboxWrapper input[type=radio] {
    display: none;
}

.toggle input[type=checkbox] {
	height: 0 !important;
	width: 0 !important;
	visibility: hidden !important;
    position: absolute !important;
    left: -10000px !important;
}

.toggle label {
	cursor: pointer;
	text-indent: -9999px;
    width: 36px;
    height: 18px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 3px;
    width: 15px;
    height: 14px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.toggle input:checked + label {
	background: var(--p-color-text-success-secondary);
}

.toggle input:checked + label:after {
	left: calc(100% - 3px);
	transform: translateX(-100%);
}

.toggle label:active:after {
	width: 130px;
}